header.header
    .header__top
        .container
            .header__contacts
                a.header__phone(href="tel:79269355168") +7 (926) 935-51-68
                a.header__email(href="mailto:aleksey460@gmail.com") aleksey460@gmail.com
                a.header__btn(href="#advice") Бесплатная консультация
    .header__content
        .container
            .header__content-inner
                .header__logo
                    a(href="#")
                        img(src="static/images/content/logo-vega.png" alt="")
                nav.menu
                    .header__btn-menu
                        span.icon-bars
                    ul
                        li: a(href="#details") О проекте
                        li: a(href="#advantages") Условия для инвестора
                        li: a(href="#protection") Гарантии
                        li: a(href="#economic") Фин.модель


