header.header
    .header__top
        .container
            .header__contacts
                a.header__phone(href="tel:74991234567") +7 (499) 123 45 67
                a.header__email(href="#") vega@gmail.com
                a.header__btn(data-fancybox data-src="#modal" href="javascript:;") Бесплатная консультация
    .header__content
        .container
            .header__content-inner
                .header__logo
                    a(href="#")
                        img(src="static/images/content/logo-vega.png" alt="")
                nav.menu
                    .header__btn-menu
                        span.icon-bars
                    ul
                        li: a(href="#") О проекте
                        li: a(href="#") Условия для инвестора
                        li: a(href="#") Гарантии
                        li: a(href="#") Фин.модель


