section.details
    .container
        .details__inner
            .details__top
                .details__title-box.title-box
                    .details-title.title-box__title Подробнее о нашей работе
            .details__content
                .details__content-text
                    p Мы занимаемся оптовой реализацией суперфудов, какао продуктов и сухого растительного молока по всей территории России с 2016 года. За 2019 год выручка компании составила 25.4 млн рублей, а за первый квартал 2020 года - 8.17 млн рублей.
                    p Успешно функционирует наш интернет-магазин, а также сотрудничаем с крупнейшими российскими маркетплейсами Ozon и Wildberries. В течении двух лет мы планируем стать лидером рынка в своем сегменте.
                    p Нашими клиентами являются крупнооптовые, среднеоптовые и мелкооптовые заказчики. Крупнооптовые покупатели заказывают в среднем от 1 тонны одного вида продукта, среднеоптовый покупатель берет от 100 до 500 кг, а мелкооптовые клиенты обычно заказывают 1-2 мешка одного продукта в месяц.
                    p Конечные потребители нашего продукта - люди, ведущие здоровый образ жизни, обычные люди, желающие укрепить свой иммунитет с помощью полезных добавок, а также те, кто не ест продукты животного происхождения.
                .details__content-img
                    img(src="static/images/content/details/1.jpg" alt="")
                    img(src="static/images/content/details/2.jpg" alt="")
