section.wb
    .container
        .wb__inner
            .wb__top
                .wb__top-title В начале июле 2020 года наша компания вышла на <span class="wb">WildBerries</span>.
                .wb__top-img
                    img(src="static/images/content/wb/wb-title.png")
            .wb__content
                .wb__content-img
                    img(src="static/images/content/wb/wb.jpg")
                .wb__content-text
                    p И практически со старта, выведя всего лишь <a target="_blank" href="https://www.wildberries.ru/catalog/13275180/detail.aspx">один продукт</a>, мы вышли на уровень продаж в 800 кг в месяц! И это не в сезон! При этом 86% компаний торгующих этим продуктом, продают его менее 100 кг в месяц.
                    p В настоящий момент мы находимся в первой пятерке <a target="_blank" href="https://www.wildberries.ru/catalog/0/search.aspx?search=%D0%A1%D0%B5%D0%BC%D0%B5%D0%BD%D0%B0%20%D1%87%D0%B8%D0%B0&sort=popular">по целевому запросу</a> на <span class="wb">WildBerries</span>.
                    p Оценив это направление как перспективное, мы намерены развивать его и дальше. Особенно это актуально в ситуации возможной второй волны карантина. Как показала практика <a target="_blank" href="https://secretmag.ru/news/oborot-wildberries-vyros-vdvoe-na-fone-koronavirusa.htm">оборот Wildberries вырос вдвое на фоне коронавируса.</a>
                    p Наше направление - продукты питания, а это именно то, что будет востребованно во время любого кризиса.