section.details{
  background-color: #92f6d2;
}

.details__inner{
  padding: 30px 0;
}

.details__title-box{
  max-width: 100%;
  //width: 100%;
}

.details__content{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.details__content-text{
  max-width: 75%;
  padding-right: 30px;

  p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.details__content-img{
  max-width: 25%;
  img{
    padding-bottom: 10px;
  }
}









