section.todo
    .container
        .todo__inner
            .todo__top
                .todo__title-box.title-box
                    .todo-title.title-box__title Что делать дальше?
            .todo__content
                .todo__content-item.item-1
                    .todo__content-title Оставьте заявку
                    .todo__content-text Оставьте заявку на сайте, чтобы с Вами связался представитель проекта, рассказал детали и ответил на вопросы. Вы получите самую актуальную информацию.
                .todo__content-item.item-2
                    .todo__content-title Согласуйте условия договора
                    .todo__content-text Мы согласуем документальные и юридические вопросы, при необходимости внесем правки в договор
                .todo__content-item.item-3
                    .todo__content-title Подпишите договор
                    .todo__content-text Есть возможность увидеть наши офисы и склады вживую в г.Москва и в г.Киев. Также договор возможно подписать дистанционно. В этом случае обмен оригиналами документов происходит через курьерские службы.
                .todo__content-item.item-4
                    .todo__content-title Получайте доход
                    .todo__content-text После подписания документов, вы начнете получать стабильный пассивный доход ежемесячно с первого месяца.
            .todo__content-btn
                a.default-btn-invite(href="#") Оставить заявку