section.economic
    .container
        .economic__inner
            .economic__top
                .economic__title-box.title-box
                    .economic-title.title-box__title Подробнее о нашей работе
            .economic__content
                .economic__content-img
                    img(src="static/images/content/economic/economic.png" alt="")
