section.advantages
    .container
        .advantages__inner
            .advantages__title-box Предложение для инвесторов
            .advantages__box
                .advantages__item
                    .advantages__title.title-1 27% годовых
                    .advantages__text Вы даете займ с фиксированной доходностью 27% годовых
                .advantages__item
                    .advantages__title.title-2 От 12 месяцев
                    .advantages__text Договор займа заключается на срок от 12 месяцев. Полностью пассивный доход
                .advantages__item
                    .advantages__title.title-3 от 300 000 руб
                    .advantages__text Минимальная сумма инвестиций составляет 300 000 рублей
                .advantages__item
                    .advantages__title.title-4 выплаты
                    .advantages__text Выплаты % ежемесячно, с первого месяца. Тело вклада - в конце срока
            .advantages__box-btn
                a.default-btn-invite(href="#") Узнать подробности