section.why
    .container
        .why__inner
            .why__top
                .why__title-box.title-box
                    .why-title.title-box__title Зачем мы привлекаем инвестиции
            .why__content
                .why__content-text
                    p В продажах, особенно оптовых, очень важна себестоимость товаров. Не секрет, что чем объемнее партия, тем ниже цену может предложить поставщик.
                    p Мы привлекаем инвестиции для того, чтобы сделать закупку крупной официальной партии товара по более выгодной цене, что позволит дать лучшую цену на рынке текущим клиентам-оптовикам и привлечь новых партнеров.
                    p На данный момент мы имеем 15 очень крупных покупателей, которые на постоянной основе закупают наш товар. Увеличив закупочные партии, мы сможем добиться большей прибыльности бизнеса.
                    p Со многими партнерами есть договоренность о том, что они готовы принять более крупные партии товара, чем мы им отгружаем в данное время.
                    p Кроме этого, эффективность работы с маркетплейсами во многом зависит от того, cколько товара находится на складе. На это также требуются средства, ведь потенциал работы с маркетплейсами огромен.
                    p По данным статистики, в период пандемии, порядка 70% товаров было куплено онлайн. В обычное время этот показатель - 50%
                    p Инвестиции направляются для масштабирования текущей уже успешной бизнес-модели.
                .why__content-img
                    img(src="static/images/content/why/why.webp" alt="")
            .why__content-btn
                a.default-btn-invite(href="#advice") Связаться с собственником