section.superfood
    .container
        .superfood__inner
            .superfood__top
                .superfood__title-box.title-box
                    .superfood-title.title-box__title Что такое суперфуд?
            .superfood__content
                .superfood__content-text
                    p Если спросить у Яндекса, что такое суперфуд, то он ответит, что
                    p.
                        <b>Суперфуд</b> (супер еда, супер продукт, супер пища) - слово, обозначающее, что данный продукт обладает необыкновенно сильными полезными свойствами, придающие ему особую супер-силу
                    span К суперфудам относятся
                    ul
                        li практически все овощи, фрукты, ягоды и зелень;
                        li цельные зёрна;
                        li семена;
                        li бобовые;
                        li коренья и травы.

                .superfood__content-slider
                    .superfood__slider-inner
                        .superfood__slider-item
                            img(src="https://is.gd/5am0Bj" alt="")
                            .superfood__slider-title.title Лакросс
                        .superfood__slider-item
                            img(src="https://is.gd/FT9WlB" alt="")
                            .superfood__slider-title.title Природа
                        .superfood__slider-item
                            img(src="https://is.gd/5am0Bj" alt="")
                            .superfood__slider-title.title Еще лакрос
                    .slider-nav
                        div
                            img(src="https://is.gd/5am0Bj" alt="")
                        div
                            img(src="https://is.gd/FT9WlB" alt="")
                        div
                            img(src="https://is.gd/5am0Bj" alt="")

