section.superfood
    .container
        .superfood__inner
            .superfood__top
                .superfood__title-box.title-box
                    .superfood-title.title-box__title Что такое суперфуд?
            .superfood__content
                .superfood__content-text
                    p <b>Суперфуды</b> – это продукты, которые обладают особыми полезными свойствами и имеют большую концентрацию питательных веществ, что обуславливает их уникальность и суперсилу.
                    p Это продукция будущего. Они все больше набирают популярность на рынке, в супермаркетах, на производствах, специализированных магазинах и сетях, в интернет-магазинах. Суперфуды всегда будут актуальны для людей, заботящихся о здоровье. На сегодняшний день эта ниша ещё очень молодая на российском рынке и её целевая аудитория постоянно растет.
                    p <b>Суперфуды</b> – это продукты, которые обладают особыми полезными свойствами и имеют большую концентрацию питательных веществ, что обуславливает их уникальность и суперсилу.
                    //p Если спросить у Яндекса, что такое суперфуд, то он ответит, что
                    //p.
                    //    <b>Суперфуд</b> (супер еда, супер продукт, супер пища) - слово, обозначающее, что данный продукт обладает необыкновенно сильными полезными свойствами, придающие ему особую супер-силу
                    //span К суперфудам относятся
                    //ul
                    //    li практически все овощи, фрукты, ягоды и зелень;
                    //    li цельные зёрна;
                    //    li семена;
                    //    li бобовые;
                    //    li коренья и травы.

                .superfood__content-slider
                    .superfood__slider-inner
                        .superfood__slider-item
                            img(src="static/images/content/superfood/1.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/2.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/3.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/4.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/5.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/6.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/7.png" alt="")
                            .superfood__slider-title.title
                        .superfood__slider-item
                            img(src="static/images/content/superfood/8.png" alt="")
                            .superfood__slider-title.title
                    .slider-nav
                        div
                            img(src="static/images/content/superfood/1.png" alt="")
                        div
                            img(src="static/images/content/superfood/2.png" alt="")
                        div
                            img(src="static/images/content/superfood/3.png" alt="")
                        div
                            img(src="static/images/content/superfood/4.png" alt="")
                        div
                            img(src="static/images/content/superfood/5.png" alt="")
                        div
                            img(src="static/images/content/superfood/6.png" alt="")
                        div
                            img(src="static/images/content/superfood/7.png" alt="")
                        div
                            img(src="static/images/content/superfood/8.png" alt="")

