section.toknow
    .container
        .toknow__inner
            .toknow__top
                .toknow__title-box.title-box
                    .toknow-title.title-box__title Это важно знать
            .toknow__content
                .toknow__content-item.item-1
                    .toknow__content-title Налаженная модель работы
                    .toknow__content-text Инвестиции привлекаются для закупки конкретных товаров по действующим договорам, которые себя зарекомендовали. Деньги инвестора начинают работать с первых дней.
                .toknow__content-item.item-2
                    .toknow__content-title Работа на перспективном рынке
                    .toknow__content-text Тенденция здорового образа жизни набирает популярность и является растущим трендом. Продукция все чаще пользуется спросом у крупных и средних оптовиков, в кафе и ресторанах, магазинах здорового питания.
                .toknow__content-item.item-3
                    .toknow__content-title Полностью легальный и здоровый бизнес
                    .toknow__content-text На всю нашу продукцию получены соответствующая документация и сертификаты качества. Мы работаем "в белую", с выплатой всех налогов и пошлин.
                .toknow__content-item.item-4
                    .toknow__content-title Возможность иметь доходность в валюте
                    .toknow__content-text Мы готовы привязать выплаты к курсу доллара или евро, чтобы обезопасить инвестора от нестабильности рубля.
