@media (max-width: 768px) {
  .wb .wb__top-title{
    font-size: 27px;
    line-height: 35px;
  }
  .wb .wb__content-img{
    max-width: 40%;
  }
  .wb .wb__content-text{
    max-width: 60%;
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .wb .wb__content{
    flex-direction: column;
  }
  .wb .wb__content-img{
    max-width: 100%;
    margin-bottom: 30px;
  }
  .wb .wb__content-text{
    max-width: 100%;
    font-size: 16px;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .wb .wb__top{
    flex-direction: column-reverse;

  }
  //.wb .wb__content{
  //  flex-direction: column;
  //}

  .wb .wb__top-title{
    font-size: 25px;
    line-height: 35px;
    max-width: 100%;
    text-align: center;
  }
  //.wb .wb__content-img{
  //  max-width: 100%;
  //  margin-bottom: 30px;
  //}
  //.wb .wb__content-text{
  //  max-width: 100%;
  //  font-size: 16px;
  //  padding: 0;
  //}
}
