.title-box {
  max-width: 600px;
  width: 100%;
  padding-left: 30px;
  position: relative;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  width: 105px;
  //  height: 2px;
  //  background-color: #ffc222;
  //  left: 0;
  //  top: 12px;
  //}
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 60px;
    background-color: #46e8a9;
    left: 0;
    top: 0;
  }

  .title-box__title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
  }

  .title-box__text {
    letter-spacing: .14px;
  }
}
