@media (max-width: 1050px) {
  .slider .slider__item{
    flex-direction: column;
    padding: 50px 0;
  }
  .slider .slider__item-content{
    max-width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .slider .slider__item-list{
    max-width: 100%;
    align-items: center;
  }
  .slider .list__item{
    width: 50vw;
    margin-bottom: 10px;
  }

}

@media (max-width: 870px) {
  .slider .slider__item{
    //flex-direction: column;
    //padding: 50px 0;
  }
  .slider .slider__item-content{
    //max-width: 100%;
    //text-align: center;
    //padding-bottom: 50px;
  }
  .slider .slider__item-list{
    //max-width: 100%;
    //align-items: center;
  }
  .slider .list__item{
    width: 70%;
    //align-items: center;
    //text-align: center;
    //margin-bottom: 10px;
  }

}
@media (max-width: 768px) {
  .slider .slider__title{
    font-size: 36px;
  }
  .slider .slider__text{
    font-size: 18px;
  }
  .slider .slider__item-content{
    //max-width: 100%;
    //text-align: center;
    //padding-bottom: 50px;
  }
  .slider .slider__item-list{
    //max-width: 100%;
    //align-items: center;
  }
  .slider .list__item{
    width: 70%;
    //align-items: center;
    //text-align: center;
    //margin-bottom: 10px;
  }

}
@media (max-width: 660px) {
  //.slider .slider__title{
  //  font-size: 36px;
  //}
  //.slider .slider__text{
  //  font-size: 18px;
  //}
  .slider .slider__item-content{
    //max-width: 100%;
    //text-align: center;
    //padding-bottom: 50px;
  }
  .slider .slider__item-list{
    //max-width: 100%;
    //align-items: center;
  }
  .slider .list__item{
    width: 100%;
    //align-items: center;
    text-align: center;
    //margin-bottom: 10px;
  }

}

@media (max-width: 425px) {
  //.slider .slider__title{
  //  font-size: 36px;
  //}
  //.slider .slider__text{
  //  font-size: 18px;
  //}
  .slider .slider__item-content{
    //max-width: 100%;
    //text-align: center;
    //padding-bottom: 50px;
  }
  .slider .slider__item-list{
    //max-width: 100%;
    //align-items: center;
  }
  .slider .list__item{
    font-size: 16px;
  }

}

@media (max-width: 375px) {
  .slider .slider__title{
    font-size: 30px;
  }
  .slider .default-btn-invite{
    font-size: 13px;
  }
  .slider .slider__item-content{
    //max-width: 100%;
    //text-align: center;
    //padding-bottom: 50px;
  }
  .slider .slider__item-list{
    //max-width: 100%;
    //align-items: center;
  }
  .slider .list__item{
    font-size: 10px;
  }

}





@media (max-width: 900px) {
  .slider .slick-btn{
    display: none !important;
  }

}

@media (max-width: 414px) {
  .slider__title{
    font-size: 24px;
  }
  .slider__text{
    font-size: 16px;
  }
}

