section.slider
    .container
        .slider__inner
            .slider__item
                .slider__item-content
                    .slider__title Получайте <br>27% годовых, инвестируя <br>от 300 000 руб
                    .slider__text В компанию, реализующую продукты питания оптом
                    a.default-btn-invite(href="#advice") Получить консультацию
                .slider__item-list
                    .list__item.item-1 Прозрачная работа по договору
                    .list__item.item-2 Подтверждение всех цифр
                    .list__item.item-3 Выплаты с первого месяца
                    .list__item.item-4 Полностью пассивный доход
