.economic__inner{
  padding-bottom: 30px;
}

.economic__top{
  padding: 30px 0;
}

.economic__title-box{
  max-width: 100%;
}

.economic__content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.economic__content-img{
  width: 50%;
}





