@media (max-width: 768px) {
  .economic .economic__top {
    padding-bottom: 0;
  }
  .economic .economic__content-img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .economic .economic-title {
    font-size: 30px;
    line-height: 40px;
  }
  .economic .economic__content-img {
    width: 100%;
  }
}

