section.info
    .container
        .info__inner
            .info__items
                .info__item.info-1
                    .info__title Наши объемы
                    .info__text За первый квартал 2020 года наша выручка составила более 8 млн руб. За 2020 год - более 25 млн руб.
                .info__item.info-2
                    .info__title Инвесторы
                    .info__text Трое инвесторов уже вернули вложенные средства с процентами, еще двое крупных инвестора до сих пор участвуютв проекте
                .info__item.info-3
                    .info__title Наш опыт
                    .info__text Мы почти 4 года занимаемся оптовой реализацией полезных продуктов питания
                .info__item.info-4
                    .info__title Наши покупатели
                    .info__text Мы имеем два представительства в России и Украине и порядка 100 постоянных оптовых покупателей

