section.team
    .container
        .team__inner
            .team__top
                .team__title-box.title-box
                    .team-title.title-box__title Наша команда
                .team__text
                    p В бизнесе задействовано 9 человек, включая двух руководителей - предпринимателей, имеющих практический опыт в бизнесе с 1994 года.
                    p Мы тщательно подходим к подбору сотрудников. Каждый член нашей команды имеет опыт работы более 1 года. У нас нет "текучки" кадров, каждый сотрудник привносит свой вклад в одно большое общее дело. Нам удалось создать слаженный коллектив, где каждый может помочь и подменить другого.
            .team__content
                .team__content-img
                    img(src="https://is.gd/FT9WlB" alt="")

                blockquote.team__content-text
                    p "Мы очень любим тему здорового и качественного питания. Для нас это не просто бизнес, это семейное дело. Наверное, поэтому мы имеем хорошую репутацию на рынке. Мы пришли сюда не на год и не на два, мы собираемся работать в своей нише долгие годы и занять лидирующие позиции.
                    p Популярность темы здорового питания растет год от года. На сегодняшний день мы используем свою особую систему в работе с клиентами, она успешно зарекомендовала себя с самого начала, продолжает и продолжает привлекать новых клиентов и приносить хорошие плоды.
                    p Компания постоянно развивается и имеет огромный потенциал. Мы продолжаем расти и гарантируем инвестору возврат всех инвестиций и получение прибыли. Добро пожаловать! Будем рады сотрудничеству!"
                    cite Марк, руководитель отдела продаж


