section.protection
    .container
        .protection__inner
            .protection__top
                .protection__title-box.title-box
                    .protection-title.title-box__title Ваши инвестиции защищены
            .protection__content
                ul.protection__content-text
                    li Нам есть что терять. Мы вложили более 3 млн рублей личных средств и тысячи часов своего личного времени.
                    li Мы можем оформить договора как на ООО так и на физ. лицо, в этом случае мы, как собственники компании, предоставляем личное поручительство и несем полную финансовую ответственность.
                    li Это семейный бизнес, которым мы дорожим. Поэтому вторым поручителем по займу может выступить второй партнер - член нашей семьи. То есть не один, а два поручителя по договору.
                    li Мы готовы предоставить инвестору все документы, подтверждающие, что средства идут на закупку официальной крупной партии товара.
                    li Мы полностью открыты, наши действия прозрачны: у инвестора есть возможность постоянного контроля товарных остатков на складе в Москве.
                    li У нас уже есть успешный опыт привлечения инвестиций в данный проект и закрытия обязательств.
                    li Мы можем предоставить данные инвесторов, чтобы Вы пообщались с ними лично.
                    li Также есть возможность встретиться в московском офисе, увидеть товар "вживую", все показатели и документацию.
                    li Официальное оформление договорных отношений, прозрачный договор без скрытых пунктов и мелкого шрифта.

